#Home{
    background-image: url(../images/v870-tang-35.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px !important;
    padding-bottom: 40px !important;
    box-sizing: border-box !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;

}



